[submodule "api"]
        path = services/api
        url = https://github.com/nthumodifications/courseweb-api
[submodule "secure-api"]
        path = services/secure-api
        url = https://github.com/nthumodifications/secure-api
[submodule "services/api"]
	path = services/api
	url = https://github.com/nthumodifications/courseweb-api
[submodule "services/secure-api"]
	path = services/secure-api
	url = https://github.com/nthumodifications/secure-api
