@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/SourceHanSansTW-VF.otf") format("opentype"), url("/fonts/SourceHanSansTW-VF.ttf") format("truetype");
  font-style: normal;
  unicode-range: U+4E00-9FFF;
}

html, body {
  @apply overflow-x-hidden font-[CustomFont] bg-white dark:bg-neutral-900 dark:text-white
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
